.main1 {
    min-height: 100vh;
    /* background: #6DA5C0; */
}

.mx_auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.left1 {
    width: 50%;

}

.right1 {
    width: 50%;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}

px-2 {
    padding: 0px 203px;
}

.text-color {
    color: #0000a5;
} 

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 7px 12px;
    margin: 4px 8px;
    border: 2px solid #190019;
    border-radius: 10px;
    background-color: #0000a5;
    color: white;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: #190019;
}

#Navbar{
    #navbar {
        overflow: hidden;
        background-color: #333;
      }
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}